@tailwind base;
@tailwind components;
@tailwind utilities;

.notification {
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    right: 15px;
    top: 15px;
    text-align: center;
    color: white;
    font-size: 10px;
}